Vensoft_WebServices/Vensoft_WebServices/Web References/localhost/Email.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vensoft.co.za/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.vensoft.co.za/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vensoft.co.za/">
      <s:element name="Email">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Permission" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMailTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmailSoapIn">
    <wsdl:part name="parameters" element="tns:Email" />
  </wsdl:message>
  <wsdl:message name="EmailSoapOut">
    <wsdl:part name="parameters" element="tns:EmailResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailSoap">
    <wsdl:operation name="Email">
      <wsdl:input message="tns:EmailSoapIn" />
      <wsdl:output message="tns:EmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailSoap" type="tns:EmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Email">
      <soap:operation soapAction="http://www.vensoft.co.za/Email" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailSoap12" type="tns:EmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Email">
      <soap12:operation soapAction="http://www.vensoft.co.za/Email" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Email">
    <wsdl:port name="EmailSoap" binding="tns:EmailSoap">
      <soap:address location="http://localhost:59484/WebServices/Email.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailSoap12" binding="tns:EmailSoap12">
      <soap12:address location="http://localhost:59484/WebServices/Email.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>